<div ng-controller="DetailController">
	<div class="row">

		<div class="span6">
			<div class="well">
				<h3>{{ topic.name }}</h3>
				<ul class="unstyled">
					<li ng-repeat="resource in resources"></li>
				</ul>
			</div>

			<div ng-controller="SubTopicController">
				<h4>sub topics</h4>
				<ul class="unstyled">
					<li ng-repeat="topic in subTopics">
						<a href="#/detail/{{ topic.id }}">{{ topic.name }}</a>
					</li>
				</ul>

				<div add-topic-form />
			</div>
		</div>

		<div class="span3" ng-controller="NextTopicController">
			<h4>next</h4>
			<ul class="unstyled">
				<li ng-repeat="topic in nextTopics">
					<a href="#/detail/{{ topic.id }}">{{ topic.name }}</a>
				</li>
			</ul>

			<div add-topic-form />
		</div>
	</div>

</div>
