<div ng-controller="DetailController">
	<div class="row">

		<div class="span6">
			<div class="well">
				<h3 ng-hide="editingTitle" ng-dblclick="editingTitle=true">{{ topic.name }}</h3>
				<h3 ng-show="editingTitle">
					<form class="form-inline">
						<input type="text" class="input-large" ng-model="editedTopicName"></input>
						<button class="btn btn-primary" ng-click="update(); editingTitle=false">Save</button>
						<button class="close" ng-click="editingTitle=false">&times;</button>
					</form>
				</h3>
				<ul class="unstyled">
					<li ng-repeat="resource in resources"></li>
				</ul>
			</div>

			<div ng-controller="SubTopicController">
				<h4>sub topics</h4>
				<ul class="unstyled">
					<li ng-repeat="subTopic in topic.sub">
						<a href="#/detail/{{ subTopic.id }}">{{ subTopic.name }}</a>
						<button class="close" ng-click="removeLink(topic, subTopic)">&times;</button>
					</li>
				</ul>

				<div add-topic-form />
			</div>
		</div>

		<div class="span3" ng-controller="NextTopicController">
			<h4>next</h4>
			<ul class="unstyled">
				<li ng-repeat="nextTopic in topic.next">
					<a href="#/detail/{{ nextTopic.id }}">{{ nextTopic.name }}</a>
					<button class="close" ng-click="removeLink(topic, nextTopic)">&times;</button>
				</li>
			</ul>

			<div add-topic-form />
		</div>
	</div>

</div>
