<div ng-controller="DetailController">
	<div class="row">
		<div class="span6 well">
			<h3>{{ topic.name }}</h3>
			<ul class="unstyled">
				<li ng-repeat="resource in topic.resources"></li>
			</ul>
		</div>

		<div class="span3">
			<h4>next</h4>
			<ul class="unstyled">
				<li ng-repeat="topic in topic.next">
					<a href="#/detail/{{ topic.id }}">{{ topic.name }}</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<h4>sub topics</h4>
			<ul class="unstyled">
				<li ng-repeat="topic in topic.sub">
					<a href="#/detail/{{ topic.id }}">{{ topic.name }}</a>
				</li>
			</ul>		
		</div>
	</div>
</div>
