<form class="add-resource-form form-horizontal" name="resourceForm" novalidate>
	<div class="row">
		<div class="span12">
			<h3>Add a resource</h3>
			<h4>{{ topic.name }}</h4>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="input-append">
				<input type="text" class="url-submit-text input-xxlarge" ng-model="url" placeholder="URL" autofocus required></input>
				<button class="btn" ng-click="submitUrl()">Submit</button>
			</div>

			<div ng-show="statusMessage" class="alert">{{ statusMessage }}</div>

			<div ng-show="urlSubmitted" class="add-resource-details-section">
				<div class="control-group">
					<label class="control-label" for="newResourceTitle">Title</label>
					<div class="controls">
						<input id="newResourceTitle" type="text" class="input-xlarge" ng-disabled="!isNewResource" ng-model="title" required />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="newResourceSource">Source</label>
					<div class="controls">
						<input id="newResourceSource" type="text" class="input-xlarge" ng-disabled="!isNewResource" ng-model="source" required />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Verb</label>
					<div class="controls" ng-init="verb='read'">
 						<label class="radio">
							<input type="radio" name="newResourceVerb" ng-model="verb" value="read" ng-disabled="!isNewResource">
							<div class="verb-icon"><i data-verb="read" class="icon-white"/></div>
							Read
						</label>
						<label class="radio">
							<input type="radio" name="newResourceVerb" ng-model="verb" value="watch" ng-disabled="!isNewResource">
							<div class="verb-icon"><i data-verb="watch" class="icon-white"/></div>
							Watch
						</label>
						<label class="radio">
							<input type="radio" name="newResourceVerb" ng-model="verb" value="listen" ng-disabled="!isNewResource">
							<div class="verb-icon"><i data-verb="listen" class="icon-white"/></div>
							Listen
						</label>
						<label class="radio">
							<input type="radio" name="newResourceVerb" ng-model="verb" value="engage" ng-disabled="!isNewResource">
							<div class="verb-icon"><i data-verb="engage" class="icon-white"/></div>
							Engage
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<button class="btn" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-hide="resourceForm.$invalid" ng-click="add()">Save</button>
		</div>
	</div>
</form>
