<div class="row ng-cloak" ng-cloak>
	<div class="loadingProgress span6" ng-hide="topic">
		<div class="loadingProgressBar"></div>
	</div>

	<div class="span6" ng-show="topic">
		<div ng-include src="'partials/editable-topic-title.html'" />
		<div ng-include src="'partials/resource-list.html'" />
		<a class="btn btn-custom-light" href="#/topics/{{ topic.id }}/resources/add"><i class="icon-plus"></i> Resource</a>
	</div>

	<div class="span5 nav-area tabbable" ng-show="topic">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#sub-topic-pane" data-toggle="tab">sub topics</a></li>
			<li><a href="#next-topic-pane" data-toggle="tab">next topics</a></li>
		</ul>

		<div class="tab-content">
 			<div class="tab-pane active" id="sub-topic-pane" ng-controller="RelatedTopicController" ng-init="rel='sub'">
				<div ng-include src="'partials/related-topic-list.html'" />
				<div ng-include src="'partials/add-topic.html'" />
			</div>

 			<div class="tab-pane" id="next-topic-pane" ng-controller="RelatedTopicController" ng-init="rel='next'">
				<div ng-include src="'partials/related-topic-list.html'" />
				<div ng-include src="'partials/add-topic.html'" />
			</div>
		</div>
	</div>
</div>
