h1 a { color: black; }
h1 a, h1 a:hover { text-decoration: none; }

.close {
	float:none;
}

li .close {
	margin-left: .25em;
	visibility: hidden;
}

li:hover .close {
	visibility: visible;
}

.nav-area {
	margin-top: 32px;
}

.modal .input-append {
	width: auto; 
	box-sizing: border-box;
	padding: 0 84px 12px 0;
}

.modal p {
	margin: 6px 12px 0 0;
}

.modal .input-append .btn {
	position:fixed; 
}

.modal input[type=text] {
	width: 100%;
}

.ng-invalid {
	border: 0px solid;
}