html {
	overflow-y: -moz-scrollbars-vertical;
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	padding: 0;
}

/*

  Site header area 

*/

header {
	background: url('../img/grey-texture.png');
}

h1 a { color: black; }
h1 a, h1 a:hover { text-decoration: none; }

h1.site-title {
	display: inline-block;
}

.authentication-status {
	display: inline-block;
	float: right;
	margin-top: 26px;
}

.nav-area {
	margin-top: 32px;
}
	
.page-header {
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 0;
	border-bottom: 1px solid #DAE0F1;
}



/*

  Tabs 

*/


.tab-content {
	overflow: visible;
}

.tabbable {
	margin-top: 24px;
}



/*

  Close Buttons

*/

.alert .close {
	float:right;
}

li .close {
	margin-right: .25em;
	visibility: hidden;
}

li:hover .close {
	visibility: visible;
}



/*

  Resource Details

*/

.topic-resource {
	margin: 0 0 4px 0;
}

.topic-resource > div {
	min-height: 3em;
	padding-top: 8px;
}

.resource-header {
	margin-left: 10px;
	vertical-align: top;
	display: inline-block;
	width: 26px;
}

.resource-detail {
	display: inline-block;
	width: 80%;
	margin-bottom: 2px;
	margin-left: 0;
}

.resource-detail .title {
	font-size: 1.2em;
	line-height: 1.0em;
	vertical-align: top;
}

.resource-detail .source {
	font-size: 1em;
	display: block;
}


/*

  Add Resource Form 

*/

.add-resource-form .input-append {
	margin-bottom:20px;
}

.add-resource-form .control-group {
	margin-bottom: 10px;
}

.add-resource-form .control-label {
	width: 70px;
}

.add-resource-form .controls {
	margin-left: 90px;
}

.add-resource-form header {
	margin-bottom: 15px;
}

.add-resource-details-section {
	margin-bottom: 20px;
}

@media (max-width: 480px) {
	.add-resource-form .controls {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.container {
		padding: 0 20px;
	}

	.resource-detail {
		width: 70%;
	}

	/*.page-header {*/
		/*text-align: center;*/
	/*}*/

	.add-resource-form .input-append {
		width: 100%;
	}

	.add-resource-form .url-submit-text {
		width: 70%;
	}
}

/*

  Resource Verb icon 

*/

.verb-icon {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	line-height: 20px;
	background-color: #4D6199;
}

.verb-icon i[data-verb="read"] { 
	/* icon-book */
	background-position: -48px -48px;  
}

.verb-icon i[data-verb="watch"] {
	/* icon-facetime-video */
	background-position: -432px -48px; 
}

.verb-icon i[data-verb="listen"] {
	/* icon-headphones */
	background-position: -336px -24px; 
}

.verb-icon i[data-verb="engage"] {
	/* icon-user */
	background-position: -168px 0; 
}



/*

  Related Topics 

*/

.related-topic {
	margin-bottom: 4px;
}

.related-topic a {
	width: 90%;
	margin: 2px 8px;
}

.topic-name {
	display: inline-block;
}


/*

 Draggable Panels

*/

.ui-draggable {
	padding: 3px 0;
	border: 1px solid #ccd0db;
	border-radius: 3px;
	background-color: #FAFAFF;
}


/*

  Drag and Drop 

*/

.droppable:not(.dragging) {
	box-shadow: inset 1px 1px 4px rgba(0,0,80,0.3);
}

.droptarget:not(.dragging) {
	box-shadow: inset 1px 1px 4px 2px #4D6199;
}

.dragging {
	box-shadow: 0 8px 12px #c0c0c0;
	background-color: rgba(255,255,255,0.5);
	z-index: 999;
	transition: box-shadow 1s;
}



/*

  Buttons

*/

.btn-custom-light {
	background-color: hsl(224, 11%, 85%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10d10c10a", endColorstr="#d4d6dc");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#10d10c10a), to(#d4d6dc));
	background-image: -moz-linear-gradient(top, #10d10c10a, #d4d6dc);
	background-image: -ms-linear-gradient(top, #10d10c10a, #d4d6dc);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #10d10c10a), color-stop(100%, #d4d6dc));
	background-image: -webkit-linear-gradient(top, #10d10c10a, #d4d6dc);
	background-image: -o-linear-gradient(top, #10d10c10a, #d4d6dc);
	background-image: linear-gradient(#10d10c10a, #d4d6dc);
	border-color: #d4d6dc #d4d6dc hsl(224, 11%, 80%);
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	-webkit-font-smoothing: antialiased;
}

.btn-custom {
	background-color: hsl(224, 32%, 24%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#93a1c7", endColorstr="#293450");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#93a1c7), to(#293450));
	background-image: -moz-linear-gradient(top, #93a1c7, #293450);
	background-image: -ms-linear-gradient(top, #93a1c7, #293450);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #93a1c7), color-stop(100%, #293450));
	background-image: -webkit-linear-gradient(top, #93a1c7, #293450);
	background-image: -o-linear-gradient(top, #93a1c7, #293450);
	background-image: linear-gradient(#93a1c7, #293450);
	border-color: #293450 #293450 hsl(224, 32%, 13%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.72);
	-webkit-font-smoothing: antialiased;
}