html {
	overflow-y: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body {
	padding: 0;
}

header {
	background: url('../img/grey-texture.png');
}

h1 a { color: black; }
h1 a, h1 a:hover { text-decoration: none; }

h1.site-title {
	display: inline-block;
}

.authentication-status {
	display: inline-block;
	float: right;
	margin-top: 26px;
}

.close {
	float:none;
}

.alert .close {
	float:right;
}

li .close {
	margin-left: .25em;
	visibility: hidden;
}

li:hover .close {
	visibility: visible;
}

.nav-area {
	margin-top: 32px;
}
	
.page-header {
	margin-top: 0;
	margin-bottom: 10px;
	padding-bottom: 0;
	border-bottom: 1px solid #DAE0F1;
}

.add-resource-form .input-append {
	margin-bottom:20px;
}

.add-resource-form .control-group {
	margin-bottom: 10px;
}

.add-resource-form .control-label {
	width: 70px;
}

.add-resource-form .controls {
	margin-left: 90px;
}

.add-resource-form header {
	margin-bottom: 15px;
}

.add-resource-details-section {
	margin-bottom: 20px;
}


.score {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 33px;
	height: 20px;
	line-height: 20px;
	color: #0088cc;
	background-color: #F6F6F6;
	border-radius: 2px;
	margin-bottom: 2px;
}

.verb-icon {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	line-height: 20px;
	background-color: #4D6199;
}

.verb-icon i[data-verb="read"] { 
	/* icon-book */
	background-position: -48px -48px;  
}

.verb-icon i[data-verb="watch"] {
	/* icon-facetime-video */
	background-position: -432px -48px; 
}

.verb-icon i[data-verb="listen"] {
	/* icon-headphones */
	background-position: -336px -24px; 
}

.verb-icon i[data-verb="engage"] {
	/* icon-user */
	background-position: -168px 0; 
}


.topic-resource {
	margin-bottom: 6px;
}

.resource-header {
	vertical-align: top;
	display: inline-block;
	width: 62px;
}

.resource-detail {
	display: inline-block;
	margin-bottom: 2px;
	margin-left: 0;
}

.resource-detail .title {
	font-size: 1.2em;
	line-height: 1.0em;
	vertical-align: top;
}

.resource-detail .source {
	font-size: 1em;
	display: block;
}

.related-topic {
	margin-bottom: 6px;
}


@media (max-width: 480px) {
	.add-resource-form .controls {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.container {
		padding: 0 20px;
	}

	.resource-detail {
		width: 70%;
	}

	/*.page-header {*/
		/*text-align: center;*/
	/*}*/

	.add-resource-form .input-append {
		width: 100%;
	}

	.add-resource-form .url-submit-text {
		width: 70%;
	}
}
