html {
	overflow-y: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

h1 a { color: black; }
h1 a, h1 a:hover { text-decoration: none; }

.close {
	float:none;
}

.alert .close {
	float:right;
}

li .close {
	margin-left: .25em;
	visibility: hidden;
}

li:hover .close {
	visibility: visible;
}

.nav-area {
	margin-top: 32px;
}
	
.page-header {
	padding: 10px 0;
	margin-bottom: 10px;
	background-color: #B2C2ED;
	border-radius: 4px;
}

.add-resource-form .input-append {
	margin-bottom:20px;
}

.add-resource-form .control-group {
	margin-bottom: 10px;
}

.add-resource-form .control-label {
	width: 70px;
}

.add-resource-form .controls {
	margin-left: 90px;
}

.add-resource-form header {
	margin-bottom: 15px;
}

.add-resource-details-section {
	margin-bottom: 20px;
}

@media (max-width: 480px) {
	.add-resource-form .controls {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.page-header {
		text-align: center;
	}

	.add-resource-form .input-append {
		width: 100%;
	}

	.add-resource-form .url-submit-text {
		width: 70%;
	}
}


.score {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	width: 30px;
	height: 20px;
	background-color: #F0F4FF;
	color: #0088cc;
}


.verb-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: top;
	background-color: #4D6199;
	border-radius: 2px;
}

.verb-icon i[data-verb="read"] { 
	/* icon-book */
	background-position: -48px -48px;  
}

.verb-icon i[data-verb="watch"] {
	/* icon-facetime-video */
	background-position: -432px -48px; 
}

.verb-icon i[data-verb="listen"] {
	/* icon-headphones */
	background-position: -336px -24px; 
}

.verb-icon i[data-verb="engage"] {
	/* icon-user */
	background-position: -168px 0; 
}


.topic-resource {
	margin-bottom: 6px;
}

.resource-detail {
	display: inline-block;
	margin-bottom: 2px;
	width: 300px;
}

.resource-detail .title {
	display: inline-block;
	font-size: 1.3em;
	vertical-align: top;
}

.resource-detail .source {
	font-size: 1em;
	display: block;
	margin-top: 2px;
}

.related-topic {
	margin-bottom: 6px;
}

