<ul class="unstyled">
	<li class="related-topic" ng-repeat="relTopic in topic[rel] | orderBy:'-score'">
		<div data-drop="true" data-drag="true" data-topic-id="{{relTopic.id}}" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}" data-jqyoui-options jqyoui-droppable="{onDrop:'dropped', onOver:'dragover', onOut:'dragout'}">
			<span class="score">{{ relTopic.score }}</span>
			<a class="topic-name" href="#/topics/{{ relTopic.id }}">{{ relTopic.name }}</a>
			<button class="close" ng-click="removeLink(relTopic)">&times;</button>
		</div>
	</li>
</ul>
