<ul class="unstyled">
	<li class="related-topic" ng-repeat="relTopic in topic[rel] | orderBy:'-score'">
		<div data-drop="true" data-drag="true" data-rel="{{rel}}" data-topic-id="{{relTopic.id}}" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true, onStart:'dragstart', onStop:'dragstop'}" jqyoui-droppable="{onDrop:'dropped', onOver:'dragover', onOut:'dragout'}" ng-class="{droppable:topic.isDragging}">
			<a class="topic-name" href="#/topics/{{ relTopic.id }}">{{ relTopic.name }}</a>
			<button class="close" ng-click="removeLink(relTopic)">&times;</button>
		</div>
	</li>
</ul>
