<ul class="unstyled">
	<li class="topic-resource row" ng-repeat="resource in topic.resources | orderBy:'-score'">
		<div class="draggable-panel" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" data-resource-id="{{resource.id}}" jqyoui-draggable="{animate:true, onStart:'dragstart', onStop:'dragstop'}">
			<div class="resource-header">
				<div class="verb-icon"><i data-verb="{{ resource.verb }}" class="icon-white"/></div>
			</div>
			<div class="resource-detail">
				<a class="title" href="#/resources/{{ resource.id }}">{{ resource.title }}</a>
				<span class="source">{{ resource.source }}</span>
			</div>
		</div>
	</li>
</ul>
